# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
# Disable style rules for ImplicitUsings
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.CS8019.severity = none
dotnet_diagnostic.CS8933.severity = none
csharp_using_directivesPlacement = outside_namespace

# XAML files
[*.xaml]
indent_size = 2
